<div class="d-flex justify-content-center">
  <div class="">
    <img src="{{advert.imageUrls[0]}}">
  </div>
  <div class="col-3 p-3 align-self-center">
    <diV><h5>{{advert.title}}</h5></diV>
    <div class="bg-dark text-white p-2 rounded-top px-3">
      {{displayMessagesService.brand}}
      <span class="float-end">{{advert.brand}}</span>
    </div>
    <div class="bg-secondary text-white p-2 px-3">
      {{displayMessagesService.model}}
      <span class="float-end">{{advert.model}}</span>
    </div>
    <div class="bg-dark text-white p-2 px-3">
      {{displayMessagesService.engine}}
      <span class="float-end">{{advert.engine}}</span>
    </div>
    <div class="bg-secondary text-white p-2 px-3">
      {{displayMessagesService.bodyStyle}}
      <span class="float-end">{{advert.bodyStyle}}</span>
    </div>
    <div class="bg-dark text-white p-2 px-3">
      {{displayMessagesService.transmission}}
      <span class="float-end">{{advert.transmission}}</span>
    </div>
    <div class="bg-secondary text-white p-2 px-3">
      {{displayMessagesService.color}}
      <span class="float-end">{{advert.color}}</span>
    </div>
    <div class="bg-dark text-white p-2 px-3 rounded-bottom">
      {{displayMessagesService.condition}}
      <span class="float-end">{{advert.condition}}</span>
    </div>
  </div>
</div>
